.back-button-layer {
  display: flex;
}

.back-icon {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .back-icon {
    width: 50px;
  }
}

.first-head {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 18px;
}

.main-container {
  background-image: url('https://res.cloudinary.com/djzsbpran/image/upload/v1684319492/Background1_lg7nv9.jpg');
  background-size: cover;
  height: 100vh;
  padding: 15px 20px;
}

@media screen and (min-width: 768px) {
  .main-container {
    padding: 30px 40px;
  }

  .first-head {
    font-size: 40px;
  }
}

.highlighted-text {
  color: #005642;
}

.highlighted-head-end {
  color: #005642;
  border-bottom: 3px solid #005642;
}

.bottom-section {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .bottom-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.investor-image {
  width: 100%;
  min-width: 300px;
  margin-left: 10px;
  margin-bottom: 30px;
}

.image-section {
  width: 30%;
}

.form-con {
  height: 550px;
  width: 100%;
  margin-top: 20px;
  padding: 40px 20px;
}

@media screen and (min-width: 768px) {
  .form-con {
    width: 50%;
    margin-top: 50px;
  }
}

.input-item {
  width: 100%;
  height: 50px;
  background-color: #ebfff7;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  margin-bottom: 20px;
}

.icon {
  width: 25px;
  margin-right: 34px;
}

.mail-icon {
  width: 30px;
  margin-right: 34px;
}

.input-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.name-input {
  height: 15px;
  transition: height 0.3s ease;
  width: 100%;
  font-size: 13px;
  border: none;
  outline: none;
  background-color: #ebfff7;
  padding-top: 0px;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .name-input {
    height: 20px;
    font-size: 16px;
  }
}

.label-text {
  font-family: 'Poppins', sans-serif;
  color: #005642;
  font-weight: 600;
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .label-text {
    font-size: 14px;
  }
}

.two-blocks {
  display: flex;
}

.alpha {
  margin-right: 10px;
}

.check {
  height: 30px;
  width: 60px;
  margin-right: 10px;
}

.check-section {
  background-color: #ebfff7;
  width: 100%;
  padding: 15px 10px;
  display: flex;
  align-items: center;
}

.condition-label {
  color: #005642;
  font-family: 'Poppins', sans-serif;
  font-size: 10px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .condition-label {
    font-size: 13px;
  }
}

.next-button {
  background-color: #005642;
  height: 50px;
  width: 200px;
  color: #ffffff;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin: 20px 0px;
  border-radius: 10px;
  font-size: 18px;
}

.btn-section {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .btn-section {
    justify-content: flex-end;
  }
}

.next-button:hover {
  cursor: pointer;
}
